{% load static %}

<!DOCTYPE html>
<html>
  <head>
  </head>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  <body>
  Helloworld
    <form id="contactForm1" action="./donate" method="post">
    <!-- Form input fields here (do not forget your name attributes). -->
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
    <input type="submit" value="Submit"> <br>
    </form>
  </body>

  <script src="{% static 'polls/jquery.min.js' %}"></script>
  <script type="text/javascript">
    var frm = $('#contactForm1');
    frm.submit(function (e) {
        alert($(this).serialize());
        e.preventDefault();
        
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                console.log('Submission was successful.');
                console.log(data);
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
    });
    </script>

</html>
